<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
        <style title="text/css">
            @import url( https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
        </style>
    </head>
    <body>
        <div class="mail-container" style="padding: 15px; background-color: #eee;">
            <div class="topbar" style="height: 50px;">
                <div class="logo" style="display: inline-block; float: left;"><img src="https://goelu-public.s3-us-west-2.amazonaws.com/img/goelU.png" alt="Goelu's logo" style="width: 100px;" /></div>
                <div class="contact" style="display: inline-block; float: right; width: 280px; height: 20px;">
                    <div class="social-media" style="display: inline-block; float: right;">
                        <a class="social-icon" href="https://www.facebook.com/Goelu-106499030889439"><img src="https://goelu-public.s3-us-west-2.amazonaws.com/img/facebook.png" alt="Facebook" style="width: 20px;margin-left: 5px;" /></a>
                        <a class="social-icon" href="https://twitter.com/GoelU"><img src="https://goelu-public.s3-us-west-2.amazonaws.com/img/twitter.png" alt="Twitter" style="width: 20px;margin-left: 5px;" /></a>
                        <a class="social-icon" href="https://www.instagram.com/goelu_official/"><img src="https://goelu-public.s3-us-west-2.amazonaws.com/img/instagram.png" alt="Instagram" style="width: 20px;margin-left: 5px;" /></a>
                    </div>
                    <div class="contact-info" style="clear: both;">
                        <div class="mail" style="display: inline-block; float: right; margin-left: 7px; margin-right: 7px; font-family: Raleway; font-size: 12px; font-weight: 500;">
                            <img src="https://goelu-public.s3-us-west-2.amazonaws.com/img/correo.png" alt="Correo" style="width: 18px;margin-right: 5px;position: relative;top: 5px;" />
                            <span>contact@goelu.com</span>
                        </div>
                        <div class="phone" style="display: inline-block; float: right; margin-left: 7px; margin-right: 7px; font-family: Raleway; font-size: 12px; font-weight: 500;">
                            <img src="https://goelu-public.s3-us-west-2.amazonaws.com/img/servicio-al-cliente.png" alt="Teléfono" style="width: 18px;margin-right: 5px;position: relative;top: 5px;" />
                            <span>55 1234 5678</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" style="background-image: url('https://goelu-public.s3-us-west-2.amazonaws.com/img/background-email.jpg'); padding: 25px; background-size: cover; background-repeat: no-repeat;">
                <div class="name" style="text-align: center; font-family: Raleway; color: white; font-weight: 700; font-size: 24px;">Dear ${name},</div>
                <div class="presentation" style="text-align: center; font-family: Raleway; color: white; font-size: 20px; font-weight: 500;">${owner} has uploaded some content for you<br />(video/audio/file)<br/>on goelU platform:</div>
                <div class="inner-image" style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
                    <img src="https://goelu-public.s3-us-west-2.amazonaws.com/img/mail-image.png" alt="Mail image" style="width: 40%; display: inline-block;margin-top:25px;margin-bottom:25px;" />
                </div>
                <div class="link" style="text-align: center;">
                    <div style="margin-bottom: -5px;">
                        <p>
                            <a href="https://legacy.goelu.com" style="font-family: Raleway; color: white; text-decoration: none; font-weight: 700;padding-right: 50px;padding-left: 50px;padding-top: 7px;padding-bottom: 7px;background-color: #4ebeec;">CLICK HERE</a>
                        </p>
                        <span style="font-family: Raleway; color: white; text-decoration: none; font-weight: 500;">to see/hear/download it.</span>
                    </div>
                </div>
                <div class="final-message">
                    <div style="text-align: center; font-family: Raleway; color: white; font-weight: 500;margin-top: 25px;">Hope you enjoy it!</div>
                    <div style="text-align: center; font-family: Raleway; color: white; font-weight: 700;margin-top: 15px;">The GoelU team</div>
                </div>
            </div>
        </div>
    </body>
</html>
